/* 引入檔 */
    /* css重置檔案載入 */
    @import url('reset-css.css');

    /* Bootstrap icons CDN  */
    @import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

    /* 字體 */
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500&display=swap');
    @font-face{
        font-family: NaikaiFont;
        src: url('../font/naikaifont-master/jp/NaikaiFont-Bold.ttf');
        font-display: swap;
    }
/* 共用顏色變數 */
    :root{
        --color_wheat: #FFE7C0;
        --color_cornflowerBlue: #648DE5;
        --color_oragePeel: #FF9C00;
        --color_graniteGray: #666666;
        --color_oragePeel_btn: linear-gradient(to bottom, #FFE6BF 0%, #FF9C00 100%);
        --color_oragePeel_btn_hover: linear-gradient(to bottom, #FF9C00 0%, #FFE6BF 100%);
    }


/* body */
    body{
        font-size: 16px;
        line-height: 1.6;
        background: var(--color_wheat);
        font-family: 'Noto Sans TC', sans-serif;
    }

/* header */
header{
    min-width: 960px;
    font-family: NaikaiFont;
}
/* 網站logo使用h1標籤優化seo方面 */
header h1 a{
    display: block;
    background: url("../images/LearnToCook-logo.svg") no-repeat center center;
    width: 80px;
    height: 80px;
    /* text-indent強迫縮排至區塊外  white-space 禁止文字換行 overflow超出區塊部分不顯示*/
    text-indent:200%;
    white-space: nowrap;
    overflow: hidden;
}
.nav-list,
.line-list,
.user-line{
    display: flex;
    align-items: center;
}
.line-list:last-child,
.user-line{
    margin-left: auto;
}
.nav-list{
    padding-left: 1rem;
    padding-right: 1rem;
    background: #fff;
}
.nav-list li{
    text-align: center;
}
.hamburgerMenu{
    display: none;
}
.nav-list a{
    padding: 0 20px;
    line-height: 80px;
    text-decoration: none;
    display: block;
    color: var(--color_oragePeel);
    font-size: 1.2rem;
}
.nav-list a:hover, .header-active a{
    color: #333;
    text-decoration:solid;
    font-weight: bold;
    text-decoration: underline;
}

/* main */
    main{
        min-width: 960px;
    }
    main section:nth-child(2n){
        background: #fff;
    }
    .wrapper{
        width: 1280px;
        margin: 0 auto;
        padding: 40px 0 50px;
    }
    .wrapper h2{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
        font-family: NaikaiFont;
        position: relative;
        color: #333;
    }
    .wrapper>h2::after,
    .wrapper>h2::before{
        content: "";
        display: inline-block;
        width: 20%;
        height: 3px;
        background: #333;
        position: absolute;
    }
    .wrapper h2::after{
        right: 10%;
        top: 50%;
    }
    .wrapper h2::before{
        left: 10%;
        top: 50%;
    }
    @media screen and (max-width:1280px){
        .wrapper{
            width: 960px;
        }
    }

/* footer */
    footer{
        min-width: 960px;
        color: #fff;
        background: #37323E;
        line-height: 60px;
        text-align: center;
        font-size: .5rem;
        padding: 10px 0;
    }

    @media screen and (max-width: 768px) {
        header,main,footer{
            min-width: auto;
        }
        .nav-list a{
            line-height: 40px;
            font-size: 16px; 
            padding: 0 10px;
        }
        header h1 a{
            background: url("../images/LearnToCook-logo-mobile.svg")no-repeat center center;
            width: 40px;
            height: 40px;
        }
        /*漢堡選單*/
        .line-list{
            display: none;
            transition: .4s;
        }
        .hamburgerMenu{
            display: block;
            line-height: 40px;
            padding: 0 10px;
        }
        .line-list.-on{
            display: block;
            position: absolute;
            background: #fff;
            width: 100%;
            top: 40px;
            left: 0;
            z-index: 4;
        }
        .line-list a{
            border-top: 1px solid #ccc;
            font-size: 16px;
        }
        main{
            width: 100%;
        }
        .wrapper{
            width: 100%;
            padding: 20px 10px 20px;
            box-sizing: border-box;
        }
        .wrapper h2{
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        footer{
            line-height: 30px;
        }
        footer span{
            display: block;
        }
    }