/* css重置檔案載入 */
@import url('reset-css.css');

/* Bootstrap icons CDN  */
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');

/* aos CDN */
@import url('https://unpkg.com/aos@next/dist/aos.css');

/* 共用顏色變數 */
:root{
    --color_wheat: #FFE7C0;
    --color_cornflowerBlue: #648DE5;
    --color_oragePeel: #FF9C00;
    --color_graniteGray: #666666;
    --color_oragePeel_btn: linear-gradient(to bottom, #FFE6BF 0%, #FF9C00 100%);
    --color_oragePeel_btn_hover: linear-gradient(to bottom, #FF9C00 0%, #FFE6BF 100%);
}

body{
    font-size: 16px;
    line-height: 1.6;
    background: var(--color_wheat);
}
main{
    min-height: calc(100vh - 160px);
}

/* header區塊設定 */
.nav-list, .nav-list ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    padding-left: 1rem;
    padding-right: 1rem;
    background: #fff;
}
.nav-list img{
    width: 80px;
    display: block;
}
.nav-list li{
    text-align: center;
}
.nav-list a{
    padding: 0 1.2rem;
    line-height: 80px;
    text-decoration: none;
    display: block;
    color: var(--color_cornflowerBlue);
}
.nav-list a:hover, .header-active a{
    color: black;
    text-decoration:solid;
    font-weight: bold;
    font-size: 1.3rem;
}

/* btn設定 */
.btn{
    text-align: center;
    margin-top: 20px;
}
.detailed, .more{
    background: var(--color_oragePeel_btn);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.detailed{
    padding: .5em 1.5em;
}
.collect{
    padding: .8em 1.5em;
    font-size: 1.3vw;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    color: var(--color_oragePeel);
    border: 1px solid var(--color_oragePeel);
    margin-left: 25px;
}
.detailed:hover, .more:hover{
    background: var(--color_oragePeel_btn_hover);
    color: black;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
}
.collect:hover{
    border: 1px solid black;
    color: black;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
}
.collect .bi-suit-heart-fill{
    color: red;
    margin-left: 15px;
}
.more{
    display: block;
    margin: 0 auto;
    width: 30vw;
    line-height: 2.2em;
    font-size: 1.8vw;
    text-align: center;
}

/* footer區塊設定 */
footer{
    color: #fff;
    background: #37323E;
    line-height: 80px;
    text-align: center;
    font-size: 1vw;
}

