.commodity{
    display: flex;
    align-items: center;
}
/* 圖片切換區塊 */
.commodity-picture{
    width: 50%;
    height: 350px;
    padding-right: 40px;
    display: flex;
}
.commodity-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.commodity-text{
    padding: 0 20px;
}
.commodity-text h2{
    font-size: 2rem;
    font-family: NaikaiFont;
    text-align: left;
}
.cutover{
    /* display: flex; */
    justify-content: center
}
.thumb{
    width: 80px;
    height: 80px;
    margin: 10px;
    transition: .4s;
    border: 3px solid transparent;
    border-radius: 10px;
}
.thumb.active{
    border: 3px solid var(--color_oragePeel);
    transform: translate(-3px, -8px);
    box-shadow: 3px 5px 10px #333;
}
.thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 文字介紹區塊 */
.introduce{
    max-width: 750px;
    max-height: 300px;
    line-height: 1.5;
    overflow: auto;
    padding-top: 25px;
    margin-bottom: 25px;
    border-top: 3px solid #333;
    font-size: 1vw;
}
.introduce p{
    margin-bottom: 10px;
}
/* 購買資訊 */
.choose select,
.amount input[type='number'],
.amount button,
.price{
    background: #fff;
    color: var(--color_oragePeel);
    border: 1px solid var(--color_oragePeel);
    text-align: center;
    font-size: 1.2rem;
}
.choose{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.choose select{
    flex: 1 0 0;
    height: 40px;
    border-radius: 5px;
}
.choose select:last-child{
    margin-left: 10px;
}
.amount{
    width: 50%;
    height: 40px;
    display: flex;
    margin-bottom: 20px;
}
.amount input[type='number']{
    width: 100%;
    border-left: none;
    border-right: none;
    outline: none;
    border-radius: none;
}
.amount button{
    width: 40px;
    cursor: pointer;
}
.amount button:first-child{
    border-radius: 5px 0 0 5px;
}
.amount button:last-child{
    border-radius: 0 5px 5px 0;
}
.price{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-family: NotoSansCJKtc-Bold;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
}
.addCart{
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    font-family: NotoSansCJKtc-Bold;
    background: var(--color_oragePeel);
    color: #fff;
    border: none;
    border-radius: 10px;
}

/* 商品資訊 */
.tag-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding-top: 20px;
}
.tag-list li{
    border-radius: 10px 10px 0 0;
    background: var(--color_graniteGray);
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
}
.tag-list li:not(:first-child){
    margin-left: 5px;
}
.tag-list .tag.active{
    background: var(--color_wheat);
    color: #666;
}
.content{
    padding: 30px 50px;
    background: var(--color_wheat);
    display: none;
    border-radius: 0 10px 10px;
}
.content h2{
    font-size: 2rem;
    font-family: NaikaiFont;
    text-align: left;
}
.content.active{
    display: block;
}
.content dt{
    margin-top: 20px;
}
.content dd{
    color: #555;
}
.content ul{
    list-style: decimal;
    line-height: 2;
    list-style-position: inside;
}
.content li{
    margin-bottom: 10px;
}
@media screen and (max-width:960px) {
    .information{
        padding-bottom: 0;
    }
}
@media screen and (max-width:768px) {
    .commodity{
        display: block;
        align-items: center;
    }
    .commodity-picture{
        width: 100%;
        height: 200px;
        padding-right: 0px;
        margin-bottom: 10px;
        justify-content: center;
    }
    .thumb{
        width: 40px;
        height: 40px;
    }
    .commodity-text h2{
        font-size: 1.4rem;
        margin: 0;
    }
    .introduce{
        padding-top: 15px;
        margin-bottom: 10px;
    }
    .choose select,
    .amount input[type='number'],
    .amount button,
    .price{
        font-size: 1rem;
    }
    .amount{
        width: 100%;
    }
    .information{
        padding: 10px 0px 0px;
    }
    .tag-list li{
        border-radius: 5px 5px 0 0;
        padding: 5px 10px;
    }
    .content h2{
        font-size: 1.4rem;
    }
}