        /* banner設置 */
        .banner-block{
            width: 100%;
            height: 600px;
            overflow: hidden;
        }
        .banner-list{
            display: flex;
            width: 100%;
            height: 100%;
        }
        .banner-list li{
            width: 100%;
            flex-shrink: 0;
        }
        .banner-list img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .banner1{  

        }
        .banner2{

        }
        .banner3{

        }
        .banner-list img{
            width: 100%;
            object-fit: cover;
            vertical-align: bottom;
        }
        @media screen and (max-width: 1280px) {
            .banner-block{
                height: 300px;
            }
        }

        /* 每個區塊與標題共用屬性 */
        main section:nth-child(2n){
            background: #fff;
        }
        .section-block{
            padding: 20px 4rem;
            overflow: hidden;
        }
        .section-block>h2{
            text-align: center;
            font-size: 2rem;
            margin-bottom: 15px;
            font-family: NaikaiFont;
        }

        /* 食譜分類(classification)區塊設置 */
        .classification-list{
            height: 800px;
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: 1fr 1fr;
            column-gap: 50px;
            row-gap: 40px;
        }
        .classification-list li{
            position: relative;
            border-radius: 20px;
            overflow: hidden;
        }
        .classification-list li:hover{
            box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
        }
        .classification-list img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        .classification-list h3{
            width: 100%;
            background: var(--color_cornflowerBlue);
            color: #fff;
            padding: 10px 0;
            text-align: center;
            border-radius: 0 0 20px 20px;
            position: absolute;
            bottom: 0;
            font-family: NaikaiFont;
            font-size: 1.2rem;
        }
        .classification-list li:hover h3{
            color: black;
        }
        .left-block{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        .top-block{
            grid-column-start: 5;
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .buttomLeft-block{
            grid-column-start: 5;
            grid-column-end: 8;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        .buttomRight-block{
            grid-column-start: 8;
            grid-column-end: 11;
            grid-row-start: 2;
            grid-row-end: 3;
        }
        @media screen and (max-width: 1280px) {
            .classification-list{
                height: 550px;
                margin-bottom: 20px;
            }
        }

        /* 食譜分享區塊 */
        .recipe-content>li{
            display: grid;
            grid-template-columns: repeat(10, 1fr);
            column-gap: 50px;
            
        }
        .recipe-content>li:not(:first-child){
            padding-top: 40px;
            border-top: 3px solid black;
        }
        .recipe-content>li:not(:last-child){
            padding-bottom: 40px;
        }
        .recipe-content li img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 20px;
        }
        .recipe-content li:nth-child(2n+1) img{
            grid-column-start: 1;
            grid-column-end: 7;
        }
        .recipe-content li:nth-child(2n) img{
            grid-column-start: 5;
            grid-column-end: 11;
        }
        .recipe-content li:nth-child(2n+1) .recipe-content-text{
            grid-column-start: 7;
            grid-column-end: 11;
        }
        .recipe-content li:nth-child(2n) .recipe-content-text{
            order: -1;
            grid-column-start: 1;
            grid-column-end: 5;
        }
        .recipe-content-text ul{
            display: flex;
        }
        .recipe-content-text h3{
            font-size: 2vw;
            font-family: NaikaiFont;
        }
        .recipe-author{
            font-size: 1vw;
            color: var(--color_graniteGray);
        }
        .recipe-author a{
            font-size: 1vw;
            color: var(--color_cornflowerBlue);
            text-decoration: none;
        }
        .recipe-author li:not(:first-child){
            margin-left: 20px;
        }
        .material{
            height: 330px;
            overflow: auto;
        }
        .material table{
            width: 85%; 
            margin-left: auto;
        }
        .material td:last-child{
            text-align: right;
        }
        @media screen and (max-width:1280px){
            .recipe-content>li{
                padding-bottom: 40px;
            }
            .recipe-content>li:not(:first-child){
                padding-top: 40px;
            }
            .recipe-content li img{
                height: 330px;
            }
            .material{
                height: 180px;
            }
        }

        /* 購物商城 */
        .item-list{
            width: 100%;
        }
        .item{
            width: 450px;
            border-radius: 10px;
            background: white;
            overflow: hidden;
        }
        .item a{
            color: black;
            text-decoration: none;
        }
        .item img{
            display: block;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
        .item-text{
            padding: 15px 20px;
        }
        .item-text  h3{
            font-size: 2vw;
            font-family: NaikaiFont;
        }
        .item-introduce{
            padding: 10px;
            font-size: 1vw;
            height: 150px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            overflow: auto;
        }
        .item-introduce h4{
            font-size: 1.1vw;
            font-family: NotoSansCJKtc-Bold;
        }
        .price{
            text-align: right;
            font-family: NotoSansCJKtc-Bold;
        }
        .swiper~a{
            margin-top: 20px;
        }
        @media screen and (max-width:1280px){
            .item{
                width: 300px;
            }
            .item img{
                height: 200px;
            }
            .item-introduce{
                height: 100px;
            }
        }