/* more 按鈕 */
    .more{
        display: block;
        margin:0 auto;
    }
/* banner設置 */
    .banner-block{
        width: 100%;
        min-width: 960px;
        overflow: hidden;
    }
    .banner-list{
        display: flex;
        height: 600px;
    }
    .banner-list li{
        width: 100vw;
        height: 100%;
        flex-shrink: 0;
    }
    .banner-list img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: bottom;
    }
    .banner-list h2{
        font-size: 2.2rem;
        font-family: NaikaiFont;
        word-wrap: normal;
    }
    .banner-list p{
        font-size: 1.4rem;
        font-weight: 900;
    }
    .banner1,
    .banner2,
    .banner3{  
        position: relative;
    }
    .banner1-text,
    .banner2-text,
    .banner3-text{
        position: absolute;
    }
    .banner1{
        background: url('../images/banner1.jpg') no-repeat center center/cover;
    }
    .banner1-text{    
        left: 40%;
        top: 58%;
        transform: translate(-50%, -50%);
    }
    .banner1-text p{
        margin-left: 150px;
    }
    .banner2{
        background: url('../images/banner2.jpg') no-repeat center center/cover;
    }
    .banner2-text{    
        left: 35%;
        top: 70%;
        color: #fff;
        transform: translate(-50%, -50%);
    }
    .banner2 p{
        margin-left: -100px;
    }
    .banner3{
        background: url('../images/banner3.jpg') no-repeat center center/cover;
    }
    .banner3-text{
        left: 65%;
        top: 45%;
        transform: translate(-50%, -50%);
        color: #fff;
    }
    .banner3-text p{
        text-align: center;
        margin-top: 50px;
    }
    @media screen and (max-width: 1280px) {
        .banner-list{
            height: 300px;
        }
    }
    @media screen and (max-width: 768px) {
        .banner-block{
            min-width: auto;
        }
        .banner-list h2{
            font-size: 1.8rem;
        }
        .banner-list p{
            font-size: 1rem;
            font-weight: 400;
        }
        .banner1{
            background: url('../images/banner1-moblie.jpeg') no-repeat center center/cover;
        }
        .banner1-text{
            position: absolute;
            width: 50%;
            left: 40px;
            top: 40%;
            transform: translate(0%, -50%);
            color: #fff;
            text-align: center;
            /* text-shadow: 0 0 5px var(--color_oragePeel),0 0 10px #ffc800; */
        }
        .banner1-text p{
            margin-left: 0;
            margin-top: 10px;
        }
        .banner2{
            background: url('../images/banner2-moblie.jpeg') no-repeat center center/cover;
        }
        .banner2-text{    
            width: 50%;
            left: 70%;
            top: 50%;
            color: #fff;
            text-align: center;
            /* text-shadow: 0 0 5px var(--color_oragePeel),0 0 10px #ffc800; */
            transform: translate(-50%, -50%);
        }
        .banner2 p{
            margin-left: 0px;
            margin-top: 10px;
        }
        .banner3{
            background: url('../images/banner3.jpg') no-repeat center center/cover;
        }
        .banner3-text{
            width: 50%;
            left: 65%;
            top: 45%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
        .banner3-text p{
            text-align: center;
            margin-top: 50px;
        }
    }

/* 找食譜 */
    .classification-list{
        height: 800px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 50px;
        row-gap: 40px;
    }
    .classification-list li,
    .classificationButtom ul li{
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
    }
    .classification-list img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .classification-list h3{
        width: 100%;
        background: var(--color_cornflowerBlue);
        color: #fff;
        padding: 10px 0;
        text-align: center;
        border-radius: 0 0 20px 20px;
        position: absolute;
        bottom: 0;
        font-size: 1.5rem;
        font-family: NaikaiFont;
    }
    .themeRecipe{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .fitnessRecipe{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .soupRecipe{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .babyRecipe{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .classification-list li:hover{
        box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
    }
    .classification-list li:hover h3{
        color: #444;
    }
    @media screen and (max-width: 1280px) {
        .classification-list{
            height: 600px;
        }
    }
    @media screen and (max-width: 768px) {
        .classification-list{
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            height: 280px;
            column-gap: 10px;
        }
        .classification-list li {
            width: 90%;
            height: 250px;
            margin-bottom: 20px;
            flex-shrink: 0;
            
        }
        .classification-list h3{
            width: 100%;
            padding: 3px 0;
            font-size: 1.2rem;
        }
    }


/* 食譜分享區塊 */
    .forum-content>li{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        column-gap: 50px;          
    }
    .forum-content>li:not(:first-child){
        padding-top: 40px;
        border-top: 3px solid black;
    }
    .forum-content>li:not(:last-child){
        padding-bottom: 40px;
    }
    .forum-content li img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 20px;
    }
    .forum-content li:nth-child(2n+1) img{
        grid-column-start: 1;
        grid-column-end: 7;
    }
    .forum-content li:nth-child(2n) img{
        grid-column-start: 5;
        grid-column-end: 11;
    }
    .forum-content li:nth-child(2n+1) .forum-content-text{
        grid-column-start: 7;
        grid-column-end: 11;
    }
    .forum-content li:nth-child(2n) .forum-content-text{
        order: -1;
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .forum-content-text h3{
        font-size: 1.6rem;
        font-family: NaikaiFont;
    }
    .recipe-author{
        display: flex;
        font-size: 14px;
        color: var(--color_graniteGray);
        margin-bottom: 15px;
    }
    .recipe-author a{
        color: var(--color_cornflowerBlue);
        text-decoration: none;
    }
    .recipe-author li:not(:first-child){
        margin-left: 20px;
    }
    .recipe-author .bi{
        margin-right: 5px;
    }
    .material{
        height: 330px;
        overflow: auto;
    }
    .material table{
        width: 85%; 
        margin-top: 15px;
        margin-left: auto;
        font-size: 1.2rem;
    }
    .material h4{
        text-align: left;
        padding-bottom: 5px;
        border-bottom: 2px solid black;
    }
    .material td:last-child{
        text-align: right;
        padding-right: 10px;
    }
    .btn-block{
        margin-top: 20px;
    }
    .btn-block .collect{
        margin-left: 20px;
    }
    @media screen and (max-width:1280px){
        .forum-content>li{
            padding: 20px 0;
        }
        .forum-content li img{
            height: 280px;
        }
        .material{
            height: 180px;
        }
    }
    @media screen and (max-width: 768px) {
        .forum-content>li{
            display: block;
            padding: 0px;   
        }
        .forum-content>li:not(:last-child){
            padding: 0;
        }
        .forum-content-text h3{
            text-align: center;
            font-size: 1.2rem;
        }
        .recipe-author{
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
        }
        .recipe-author li:first-child{
            width: 100%;
        }
        .recipe-author li:not(:first-child){
            margin-left: 10px;
            margin-right: 10px;
        }

        .material table{
            width: 100%; 
            font-size: 1rem;
        }
        .material h4{
            text-align: center;
            font-size: 1.1rem;
            margin: 0 25px;
        }
        .material td:first-child{
            padding-left: 25px;
        }
        .material td:last-child{
            padding-right: 25px;
        }
        .btn-block{
            text-align: center;
        }
        .btn-block .collect{
            margin-left: 0px;
            margin-top: 15px;
            margin-bottom: 20px;
        }
    }
/* 購物商城 */
    .item-list{
        width: 100%;
    }
    .item{
        width: 400px;
        border-radius: 10px;
        background: white;
        overflow: hidden;
    }
    .item a{
        color: #333;
        text-decoration: none;
    }
    .item img{
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .item-text{
        padding: 15px 20px;
    }
    .item-text  h3{
        font-size: 1.6rem;
        font-family: NaikaiFont;
    }
    .item-introduce{
        padding: 10px;
        height: 150px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        overflow: auto;
    }
    .item-introduce h4{
        font-size: 1.2rem;
        font-weight: bold;
    }
    .price{
        text-align: right;
        font-weight: bold;
    }
    .swiper~a{
        margin-top: 15px;
    }
    @media screen and (max-width:1280px){
        .item{
            width: 300px;
        }
        .item img{
            height: 200px;
        }
        .item-introduce{
            height: 100px;
        }
    }