.wrapper{
    display: flex;
    padding-top: 0px;
}
.menu{
    flex-shrink: 0;
    width: 200px;
}
.menu ul{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.menu li:not(:last-child){
    border-bottom: 1px solid #ccc;
}
.menu a{
    display: block;
    padding: 10px 15px;
    border-left: 6px solid transparent;
    color: var(--color_cornflowerBlue);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.menu a:not(:last-child){
    border-bottom: 1px solid #333;
}
.menu a:hover, .menu li.active a{
    background: var(--color_cornflowerBlue);
    color: #fff;
    border-left: 6px solid var(--color_oragePeel);
    cursor: pointer;
}
.item-list{
    width: calc(100% - 220px);
    padding: 0 20px 0 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}
.item{
    width: 100%;
    border-radius: 10px;
    background: white;
    overflow: hidden;
}
.item a{
    color: #333;
    text-decoration: none;
}
.item img{
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.item-text{
    padding: 15px 20px;
}
.item-text  h3{
    font-size: 1.2rem;
    /* font-family: NaikaiFont; */
    font-weight: 900;
}
.item-introduce{
    padding: 10px;
    height: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: auto;
    font-size: 14px;
}
.item-introduce h4{
    font-weight: bold;
}

.price{
    text-align: right;
    font-weight: bold;
}
.swiper~a{
    margin-top: 20px;
}
@media screen and (max-width:1280px){
    .item-list{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:768px){
    .wrapper{
        display: block;
    }
    .menu{
        position: sticky;
        top: 0px;
        flex-shrink: 0;
        width: 100%;

    }
    .menu ul{
        display: flex;
        border-radius: 5px;
        overflow: auto;
    }
    .menu ul li{
        flex:1 0 100px;
    }
    .menu li:not(:last-child){
        border-bottom: noen;
        border-right: 1px solid #ccc;
    }
    .menu a{
        white-space: nowrap;
        border-left: none;
        border-bottom: 6px solid transparent;
    }
    .menu a:hover, .menu li.active a{
        background: var(--color_cornflowerBlue);
        border-left: none;
        border-bottom: 6px solid var(--color_oragePeel);
    }
    .item-list{
        width: auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 20px;
    }
    .item{
        width: 100%;
        max-width: 260px;
        border-radius: 10px;
        background: white;
        overflow: hidden;
        margin:  0 auto;
    }
    .item img{
        height: 120px;
    }
    .item-text{
        padding: 10px;
    }
    .item-introduce{
        padding: 10px;
        height: 80px;
    }
    
}