/* item共通設定 */
.classification-list li,
.fitnessRecipes li,
.soupRecipes li,
.babyRecipes li{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.classification-list li:hover,
.fitnessRecipes li:hover,
.soupRecipes li:hover,
.babyRecipes li:hover{
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
}
.classification-list img,
.fitnessRecipes img,
.soupRecipes img,
.babyRecipes img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.classification-list h3,
.fitnessRecipes h3,
.babyRecipes h3{
    width: 100%;
    background: var(--color_cornflowerBlue);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    /* font-family: NaikaiFont; */
    font-weight: 900;
    font-size: 1.6rem;
}
.classification-list li:hover h3,
.fitnessRecipes li:hover h3,
.soupRecipes li:hover h3,
.babyRecipes li:hover h3{
    color: #333;
}
@media screen and (max-width:768px){
    .classification-list h3,
    .fitnessRecipes h3,
    .soupRecipes h3,
    .babyRecipes h3{
        font-size: 1.4rem;
        padding: 0 5px;
        box-sizing: border-box;
    }
}

/* 主題食譜區塊設置 */
.classification-list{
    height: 600px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}
.left-block{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.topLeft-block{
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.topRight-block{
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
}
.buttomLeft-block{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}
.buttomRight-block{
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 3;
}
@media screen and (max-width: 1280px) {
    .classification-list{
        height: 400px;
    }
}
@media screen and (max-width:768px) {
    .classification-list{
        height: 490px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .left-block{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .topLeft-block{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .topRight-block{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .buttomLeft-block{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .buttomRight-block{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

/* 健身食譜區塊設置 */
.fitnessRecipes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
    row-gap: 30px;
    overflow: hidden;
}
.fitnessRecipes li{
    height: 330px;
}
.fitnessRecipes li:nth-child(3n+2){
    margin-top: 50px;
}
@media screen and (max-width:1280px){
    .fitnessRecipes li{
        height: 220px;
    }
}
@media screen and (max-width:768px) {
    .fitnessRecipes{
        height: 490px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
    .fitnessRecipes li{
        height: auto;
    }
    .fitnessRecipes li:nth-child(3n+2){
        margin-top: 0px;
    }
}
/* 湯品區塊設置 */
.soupRecipes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.soupRecipes li{
    height: 350px;
}
.soupRecipes li:nth-child(2n+1){
    border-radius: 0 20px 0 0;
}
.soupRecipes li:nth-child(2n){
    margin-top: 220px;
    border-radius: 20px 0 0 0;
}
.soupRecipes h3{
    width: 40px;
    height: 100%;
    background: var(--color_cornflowerBlue);
    color: #fff;
    padding: 0 15px;
    writing-mode: vertical-lr;
    text-align: center;
    font-size: 1.6rem;
    letter-spacing: 15px;
    position: absolute;
    bottom: 0;
    /* font-family: NaikaiFont; */
    font-weight: 900;
}
.soupRecipes li:nth-child(2n+1) h3{
    border-radius: 0 20px 0 0;
    right: 0; 
}
.soupRecipes li:nth-child(2n) he{
    border-radius: 20px 0 0 0;
    left: 0;
}
@media screen and (max-width:1280px){
    .soupRecipes li{
        height: 280px;
    }
}
@media screen and (max-width:768px) {
    .soupRecipes{
        height: 320px;
        column-gap: 20px;
        row-gap: 20px;
    }
    .soupRecipes li{
        height: auto;
    }
    .soupRecipes li:nth-child(2n+1){
        border-radius: 20px;
    }
    .soupRecipes li:nth-child(2n){
        margin-top: 0px;
        border-radius: 20px;
    }
    .soupRecipes li:nth-child(2n+1) h3{
        border-radius: 0px 0px 20px 20px;
        right: 0;
        left: 0; 
    }
    .soupRecipes li:nth-child(2n) he{
        border-radius: 0px 20px 20px 0;
        left: 0;
        right: 0;
    }
    .soupRecipes h3{
        width: 100%;
        height: auto;
        writing-mode:horizontal-tb;
        letter-spacing: normal;
        position: absolute;
        bottom: 0;
    }
}

/* 寶寶副食品 */
.babyRecipes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin-bottom: 20px;
}
@media screen and (max-width:768px){
    .babyRecipes{
        column-gap: 20px;
    }
}
