.search-bg{
    width: 100vw;
    min-width: 960px;
    height: 300px;
    background: url('../images/banner1.jpg') no-repeat center center/cover;
    position: relative;
}
.search-position{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
}
.search-bg h2{
    width: 130px;
    font-size: 2rem;
    font-family: NaikaiFont;
}
.search-block{
    background: rgba(255, 255, 255, .8);
    width: 35vw;
    min-width: 350px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.search-text{
    align-self: stretch;
    flex-grow: 1;
}
.search-text input[type="text"]{
    width: 100%;
    height: 100%; 
    background: transparent;
    border: none;
    padding-left: 15px;
    box-sizing: border-box;
    border-radius: 10px;
}
.search-btn{
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background: var(--color_oragePeel_btn);
    color: #fff;
    border: none;
    cursor: pointer;
}
.search-btn:hover{
    background: var(--color_oragePeel_btn_hover);
}
@media screen and (max-width:768px){
    .search-bg{
        min-width: auto;
    }
    .search-position{
        flex-direction: column;
        padding: 107px 20px;
    }
    .search-block{
        width: 100%;
        min-width: auto;
        margin-left: 0px;
    }
}