main section:nth-child(2n){
    background: var(--color_wheat);
}

 /*當前溝物車資訊*/
.drop-down{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background: #fff;
    font-size: 1.2rem;
    padding: 0 40px;
    border-bottom: 2px solid transparent;
    border-radius: 10px 10px 0 0;
    transition: .5s;
    box-sizing: border-box;
}
.dropDown_underline{
    border-bottom: 2px solid black;
}
.drop-down h2{
    margin-bottom: 0;
}
.drop-down .bi-caret-up-fill{
    margin-left: auto;
    transition: .3s;
}
.drop-down-checkbox{
    display: none;
}
.item-list{
    background: #fff;
    overflow: hidden;
    transition: 1s;
    border-radius: 0 0 10px 10px ;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    padding: 20px 10px;
    border-bottom: 2px solid black;
}
.item:last-child{
    border-bottom: none;
}
.item img{
    width: 150px;
    margin: 0 25px;
}
.item-left{
    display: flex;
}
.item-left ul{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.quantity span{
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    text-align: center;
}
.quantity button{
    width: 28px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid var(--color_oragePeel);
    color: var(--color_oragePeel);
    background: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.quantity button:hover{
    border: 1px solid transparent;
    color: #fff;
    background: var(--color_oragePeel);
}
.del-btn{
    text-align: right;
    font-size: 2rem;
    cursor: pointer;
}
.item-price,
.total{
    color: #072B7B;
    font-family: NotoSansCJKtc-Bold;
    font-size: 1.1rem;
}
.del-all{
    margin-left: 25px;
}
.total{
    font-size: 1.2rem;
}


/* 購買人資訊 */
.form-block{
    background: #fff;
    border-radius: 10px;
    padding: 30px 20px;
}
.form-block h2{
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
    font-size: 1.5rem;
    border-bottom: 3px solid black;
    font-family: NotoSansCJKtc-Bold;
}
.form-block ul{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
}
.form-block input{
    line-height: 25px;
    font-size: 1.2rem;
}
.name-block,
.tel-block{
    width: 50%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.name-block input,
.tel-block input{
    width: 100%;
    padding-left: 5px;
}
.email-block,
.address-block{
    width: 100%;
    flex: 0 0 auto;
    padding: 10px 20px;
    box-sizing: border-box;
}
.email-block input,
.address-block input{
    width: 100%;
    padding-left: 5px;
}
.transport-block,
.payment-block,
.bill-block{
    padding: 0 20px;
}
.transport-block li,
.payment-block li,
.bill-block li{
    margin-right: 20px;
}
.payment-btn{
    display: block;
    margin-left: auto;
}
@media screen and (max-width:768px) {
    /* 購物車資訊 */
    .item{
        flex-direction: column;
        padding: 20px 10px 10px;
    }
    .item-left{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .item>ul{
        width: auto;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }
    .item-price{
        margin-left: 20px;
    }
    .name-block,
    .tel-block{
        width: 100%;
    }

    /* 購買人資訊 */
    .form-block h2{
        font-size: 1.2rem;
    }
    .transport-block,
    .payment-block,
    .bill-block{
        padding: 0 10px;
    }
    .form-block input{
        font-size: 1rem;
    }
}